:root {
    --primary: #ff4e4e;
    --dark: #0a0a0a;
    --dark-grey: #a94343;
    --text: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark);
    color: var(--text);
    line-height: 1.6;
}

h1 {
    color: #008bab;
}

h2 {
    color: var(--primary);
}

main {
    border: 3px solid #008bab;
}

footer {
    padding: 5px;
    margin: 10px;
    border: 3px solid rebeccapurple;
    background-image: linear-gradient(to left, yellow, white);
    color: var(--dark-grey);
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 2rem;
}

.header {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--text);
}

.contacts {
    background: var(--dark-grey);
    padding: 1.5rem;
    border-radius: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.contact-item a {
    color: var(--primary);
    text-decoration: none;
    transition: opasity 0.3s;
}

.contact-item a:hover {
    opacity: 0.8;
}
