:root{
    --primary: #ff4e4e;
    --dark: #0a0a0a;
    --dark-grey: #1a1a1a;
    --text: #e0e0e0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--dark);
    color: var(--text);
}

h1{
    color: #008bab;
}

h2{
    color: var(--primary);
}

main{
   border: 3px solid #008bab; 
}

footer{
    padding: 5px;
    margin: 10px;
    border: 3px solid rebeccapurple;
    background-image: linear-gradient(to left, yellow, white);
    color: var(--dark-grey);
}
